<section class="row pt-4">
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-10 ">
                    <h2>Bienvenido {{loggedUsername}}</h2>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" id="logOutButton">
                        <a href="/productos/logout" class="text-white text-decoration-none">
                        Log-out
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>