<section class="row pt-4">
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <h1>Bienvenido. Aquí puede hacer login</h1>
                <hr>
                <label for="userNameLogIn" class="form-label"> Ingrese su nombre de usuario o email</label>
                <input type="text" class="form-control" id="userNameLogIn" aria-describedby="Username" name="username">
                 <label for="passwordlogin" class="form-label"> Ingrese su contraseña </label>
                <input type="password" class="form-control" id="passwordlogin" aria-describedby="Password" name="password">
                <button class="btn btn-primary mt-4" id="logInButton">
                    Iniciar sesion
                </button>
                <a href="/productos/signup" class=" text-decoration-none mt-4">
                    Registrarse
                </a>
            </div>
        </div>
    </div>
</section>