<section class="row pt-4">
    <div class="card shadow">
        <div class="card-body">
            <h1>Ingrese un producto</h1>
            <hr>
            <form id="form" action="">
                <div class="mb-3">
                <label for="nombreProducto" class="form-label"> Nombre: </label>
                <input type="text" class="form-control" id="nombreProducto" aria-describedby="Nombre" name="title">
                </div>
                <div class="mb-3">
                <label for="precioProducto" class="form-label"> Precio: </label>
                <input type="text" class="form-control" id="precioProducto" name="price">
                </div>
                <div class="mb-3">
                    <label for="thumbnailURL" class="form-label"> Foto URL: </label>
                    <input type="text" class="form-control" id="thumbnailURL" name="thumbnail">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <div id="alert" class="pt-3"></div>
            </form>
        </div>
    </div>
</section>